@import "~@sl-codeblaster/react-3d-animated-card/dist/index.css";

body {
  margin: 0;
  font-family: sofia-pro, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, black 21px, transparent 1%) center, linear-gradient(black 21px, transparent 1%) center, white;
    background-size: 22px 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
